@font-face { font-family: Quicksand; src: url('Polices/quicksand/Quicksand-Regular.otf'); } 
@font-face { font-family: Quicksand-Bold; src: url('Polices/quicksand/Quicksand-Bold.otf'); } 
 

p
{
color: rgb(51, 51, 51)
font-family : Quicksand;
}

h1
{
text-align: center;
background-color:  #FF8333;
color : white;
font-family : Quicksand-Bold;
padding: 7px;
}

ul
{
	font-family: Quicksand;
}
h2
{
	margin-top: 50px;
	text-align: center;
	font-family : Quicksand;
}
h3
{
	font-family: Quicksand;
	color: #FF8333;
	text-align:center;
}
h4
{
	font-family: Quicksand;
	font-size: 30px;
	color:#FF8333;
	text-align:center;
	
}
#nav
{
	background-color :  #f0f0f0;
	padding: 15px;
	
}

.elementnav
{
	
	margin-left: 8px;
	margin-right: 8px;
	color:   #dc7602;
	font-family: Quicksand-Bold;
	font-style: bold;
	text-decoration: none;
}
.elementnav:hover
{
	color: #b86200;
}
#txtdonnees
{
	color :   black ;
}
.bouton
{
	background-color :  #FF8333;
	padding : 5px;
	font-family: Quicksand;
	margin-top:50px;
	margin-left:45%;
	border:none;
	
}

#form1
{
	margin-left:10%;
	margin-top: 5%;

}

#txtintro
{
	margin-top: 70px;
	text-align: center;
	font-family : Quicksand;
}

#logo
{
	height: 45px;
	width: auto;
	margin-left: 10%;
	
}
#slogan
{
	color: black;
	margin:15px;
	font-size: 20px;
	margin-left: 10%;
	font-family : Quicksand;
	
	
}
#bandeauhaut
{
	display:flex;
	margin-bottom: 2%;
	justify-content: flex-start;
}
#formulaire
{
	margin-left: 30%;
}
.txtchamp
{
	text-align:left;
	font-family:Quicksand-Bold;
}
.photos
{
	width:30%;
	height:auto;
	text-align:center;
	margin-left: 35%;
}

.recettesconf
{
	font-family:Quicksand;
}

}
.elementsli
{
	color:black;
}
.bloconf
{
	margin-left:10%;
	margin-right:10%;
	margin-bottom:3%;
	box-shadow: -5px 5px 15px  #d2d2d2;
	border-radius: 10px;
	padding: 3%;
	padding-top: 5px;

}
#sommaire
{
	margin-bottom:50px;
	margin-left:37%;
	
}
#bandeaubas
{
	height: 80px;
	width: 100%;
	background-color:#FF8333;
	margin-top:100px;
	padding-bottom:0px;
}
a
{
	text-decoration: none;

